@import "tailwindcss";

@theme {
  /* Define your custom color here */
  --color-ndt-primary: #4487ef;
  --color-ndt-secondary: #004070;
  
  /* You can also define shades */
  --color-ocean-500: #0ea5e9;
  --color-ocean-600: #0284c7;


}

input[type="email"],input[type="password"]{
    @apply border border-gray-300 rounded-2xl
    w-full  py-2 px-3 mt-2 mb-4;
}

button{
    @apply bg-ndt-primary text-white ;
}

button.primary{
    @apply bg-ndt-primary text-white ;
}